<!DOCTYPE html>
<html>
<head>
	<title>addArticle</title>
	<link rel="stylesheet" type="text/css" href="__STATIC__/easyUI/themes/bootstrap/easyui.css">
	<link rel="stylesheet" type="text/css" href="__STATIC__/easyUI/themes/icon.css">
	<link rel="stylesheet" type="text/css" href="__CSS__/admin.css">
	<link rel="stylesheet" type="text/css" href="__ROOT__/kindeditor/themes/default/default.css">
	<script src="__ROOT__/kindeditor/kindeditor-all-min.js"></script>
	<script src="__ROOT__/kindeditor/lang/zh-CN.js"></script>
	<script src="__JS__/jquery-3.2.1.min.js"></script>
	<script src="__JS__/jquery.easyui.min.js"></script>
	<script src="__JS__/admin.js"></script>

</head>
<body>
	<form action="{:url('admin/add/setting')}" method="post">
			<div class="divRow">
				<div class="divRow">
					<label style="margin-bottom: 70px">首页标题：</label>
					<input type="text" hidden="hidden" name="type" value="首页标题">
					<input class="easyui-textbox" name="text" data-options="multiline:true" style="width:300px;height:100px;">
				</div>
				<input id="add" type="submit" class="easyui-linkbutton add" name="getText" value="    add     ">
			</div>
	</form>
	<form action="{:url('admin/add/setting')}" method="post">
		<div class="divRow">
			<div class="divRow">
				<label style="margin-bottom: 70px">网站标题：</label>
				<input type="text" hidden="hidden" name="type" value="网站标题">
				<input class="easyui-textbox" name="text" data-options="multiline:true" style="width:300px;height:100px;">
			</div>
			<input id="add" type="submit" class="easyui-linkbutton add" name="getText" value="    add     ">
		</div>
	</form>
		
</body>
</html>